$desktopWrapper: 1440px;
$tabletWrapper: 1024px;
$mobileWrapperStart: 640px;
$mobileWrapper: 375px;

$Width1400: 1400px;

$font-family: Roboto;

$font-size-html: 62.5%;
$font-size: 1.6rem;

$bg-icon-color: rgba(0, 0, 0, 0.5413);
$bg-icon-color-hover: black;
$bg-icon-color-active: rgba(0, 188, 212, 0.99);

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;

$cursor-file-default: cursor-toolPencil;